@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #f0f0f0;
  --bg-color2: #d0d0d0;
  --text-color: #161921;

  --bg-header-navbar-hover: #252a37;
  --bg-header-navbar: #161921;

  --bg-menu: #1619218c;
  --bg-menu-hover: #252a378c;

  --text-header-title: #39bae6;
  --text-header-navbar: #fcfcfc;

  --btn: #399ee6;
  --btn-hover: #d5ff80;
  --btn-active: #efb256;

  --color-1st: #2885c7;
  --color-2nd: #e79822;

  --services-border: #73d0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}



/* NAVBAR */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background-color: var(--bg-header-navbar);
  transition: 0.15s;
}

.logo {
  font-size: 2.25rem;
  color: var(--text-header-title);
  font-weight: 700;
  cursor: pointer;
}

.navbar a {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: var(--text-header-navbar);
  letter-spacing: 0.15rem;
  margin-left: .15rem;
  font-weight: 500;
  transition: 0.15s;
}

.navbar a:hover {
  color: var(--btn-hover);
  background: var(--bg-header-navbar-hover);
}

.navbar a:active {
  color: var(--btn-active);
  background: var(--bg-header-navbar);
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--text-header-navbar);
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: 0.15s;
}



/* HOME PAGE */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 35vw;
  border-radius: 5%;
  box-shadow: 0 0 5px var(--text-color);
}

.home-content {
  margin-left: 3rem;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
}

span {
  color: var(--color-1st);
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-2nd);
}

.home-content p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.home-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--btn);
  color: var(--text-header-navbar);
  border-radius: 50%;
  font-size: 2rem;
  margin: 2rem 1rem 2rem;
  transition: 0.15s;
}

.home-social a:hover,
.btn:hover {
  background: var(--btn-hover);
  color: var(--text-color);
}

.soc-med a:active,
.btn:active {
  background: var(--btn-active);
}

.btn {
  display: inline-block;
  margin-left: 10px;
  padding: 1rem 2.5rem;
  background: var(--color-2nd);
  color: var(--text-header-navbar);
  border-radius: 10px;
  box-shadow: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  transition: 0.15s;
}



/* ABOUT PAGE */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color2);
}

.about img {
  width: 25vw;
  border: 2px solid var(--color-1st);
  border-radius: 5%;
  box-shadow: 0 0 5px var(--text-color);
}

.heading {
  font-size: 5rem;
  text-align: left;
}

.about-content {
  padding: 0 4rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.5;
}

.about-content h3 {
  font-size: 2.5rem;
}

.about-content p {
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}



/* SERVICES PAGE:*/
.services h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  border: 2px solid var(--services-border);
  padding: 7rem 1.75rem 7rem;
  border-radius: 1.5rem;
  text-align: center;
  transition: 0.15s ease;
}

.services-box i {
  font-size: 5rem;
  color: var(--color-1st);
  margin-bottom: 1rem;
}

.services-box h3 {
  font-size: 1.75rem;
}

.services-box p {
  font-size: 12px;
  margin: 1rem 0 3rem;
}



/* CONTACT PAGE*/
.contact {
  background: var(--bg-color2);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact .heading {
  text-align: center;
}

.contact form {
  max-width: 100rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 0.25rem solid var(--color-1st);
  margin: 0.7rem 0;
  resize: none;
}

.contact form .input-box input {
  width: 48%;
  margin: 0.7rem 0.35rem;
}

.contact form .btn {
  margin-top: 2rem;
}



/* FOOTER */
.footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background: var(--bg-header-navbar);
  color: var(--text-header-navbar);
}

.footer .footer-social,
.footer .copyright {
  text-align: center;
  margin-bottom: 20px;
}

.footer .footer-social a {
  font-size: 23px;
  color: var(--text-header-navbar);
  border: 2px solid var(--text-header-navbar);
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  margin: 0px 7.5px;
  transition: 0.15s;
}

.footer .footer-social a:hover {
  background: var(--btn-hover);
  color: var(--text-color);
}

.footer .footer-social a:active {
  background: var(--btn-active);
}

.footer .copyright {
  font-size: 15px;
}



/*RESPONSIVE FORMAT*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3%;
  }

  .services {
    padding: 7rem;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 1023px) {
  #menu-icon {
    display: block;
    transition: 0.15;
  }

  #menu-icon:hover {
    background: var(--bg-header-navbar-hover);
    color: var(--btn-hover);
  }

  #menu-icon:active {
    background: transparent;
    color: var(--btn-active);
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-menu);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }

  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }

  .navbar a:hover {
    background: var(--bg-menu-hover);
  }

  .navbar a:active {
    background: transparent;
  }

  .navbar.activate {
    right: 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content {
    order: 2;
    margin-left: 1rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .home-img img {
    width: 70vw;
    margin-top: 6rem;
  }

  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .footer {
    display: block;
  }
}

@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
}